:root {
    --primary-color: #3773af;  /* Primarna barva za gumbe in povezave */
    --hover-color: #0e3357;    /* Barva za hover stanje gumba */
    --error-color: rgb(157, 0, 0); /* Barva za neveljavna polja */
}

/* Spletna stran */
body {
    font-family: "Hanken Grotesk Regular", sans-serif !important;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Razporedi prostor med elementi */
    min-height: 100vh; /* Poskrbi, da je višina telesa vsaj 100vh */
    overflow-x: hidden;
}

/* Zgornja vrstica */
.row {
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    position: absolute;
    top: 0;
    width: 100%;
    align-items: left;
}

.row img {
    max-width: 145px;
}

/* Naslov in progress bar */
header {
    width: 400px;
    align-items: center;
    margin: 50px auto 0; /* Doda zgornji rob in centrira header */
}

.naslov h1 {
    text-align: center;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.progress-bar {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ccc;
    z-index: 1;
    transform: translateY(-50%);
}

.progress-bar-fill {
    height: 100%;
    background-color: #0288d1;
    width: 0;
    transition: width 0.3s;
    z-index: 2;
}

.step {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    z-index: 3;
}

.step span {
    position: absolute;
    top: 13px;
    font-size: 16px;
    color: #0288d1;
}

#step1 span {
    margin-left: -31px;
}

#step2 span {
    margin-left: -35px;
}

.step.active {
    background-color: #0288d1;
}

/* Glavni del */
main {
    padding: 20px;
    margin-top: 10px;
    width: 470px; 
    flex: 1; /* Doda fleksibilnost za raztegovanje glavnega dela */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centriranje vsebine znotraj main */
    margin-left: auto; /* Centriranje vsebine */
    margin-right: auto; /* Centriranje vsebine */
}

main section {
    width: 100%;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Uporabi celotno širino main */
}

label {
    margin: 10px 0 5px;
}

input[type="email"], input[type="password"], input[type="text"], input[type="date"], input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease; /* Učinek prehoda ob fokusu */
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="date"]:focus, input[type="number"]:focus {
    border-color: var(--primary-color); /* Spremeni barvo ob fokusu */
}

.options {
    display: flex;
    align-items: center;
}

.checkbox {
    margin: 5px;
}

.options a {
    padding-left: 5px;
    color: var(--primary-color);
    text-decoration: none;
}

.options a:hover {
    color: var(--hover-color);
}

button {
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* Učinek prehoda za gumbe */
}

button:hover {
    background-color: var(--hover-color);
}

button:active {
    transform: translateY(1px); /* Ustvari efekt "pritiskanja" */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Dodaj senco */
}

input.invalid {
    border-color: var(--error-color); /* Rdeča obroba za neveljavna polja */
}

.cancle-register {
    display: block;
    margin: 20px;
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}

.cancle-register:hover {
    color: var(--hover-color);
}

/* Noga */
footer {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}

footer p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.links-2 {
    width: 100%;
    margin-top: 10px;
    display: inline-flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
}

footer a:hover {
    color: var(--hover-color);
}

.dh {
    max-width: 150px;
}

/* Prilagoditve za manjše naprave */
@media (max-width: 600px) {
    main {
        width: 90%; /* Uporabi 90% širine zaslona na manjših napravah */
    }

    header {
        width: 100%;
    }
}
